.header-container{
    width: 80%;
    height: 100px;
}
.logo{
    float: left;
    margin: 0 auto;
}
.header-right{
    float: right;
}
.btn{
    background-color: red;
    color: white;
    padding: 20px 40px;
}
